/* your styles go here */
.navbar .nav-link {
  text-transform: uppercase;
}

a:hover {
  color: #212529;
  text-decoration: underline;
}

.text-primary {
  color: #D10F1C !important;
}

.text-secondary {
  color: #D10F1C !important;
}

.badge-light {
  color: #D10F1C;
} 
.avatar-border-primary {
  border: solid 2px #D10F1C;
} 

.btn-outline-light {
  color: rgb(248, 249, 250);
  border-color: rgb(248, 249, 250);
  background-color: #D10F1C;
}

.btn-primary {
  color: #fff !important;
  background-color: #D10F1C;
  border-color: #b50713;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #b50713;
  border-color: #D10F1C;
}

.bg-secondary {
  background-color: #D10F1C !important;
}
.text-primary {
  color: #D10F1C ;
}

a {
  color: #D10F1C;
}

h6, .h6 {
  font-size: 0.95rem !important;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #D10F1C;
  border-color: #b50713;
}
.page-link {
  color: #D10F1C;
}
.table-bordered {
  border: 1px solid #D10F1C !important;
}

.text-primary .noUi-handle, .text-primary .noUi-connect {
  background: #D10F1C;
 }

 .text-over-image {
  background-color: #4848488c;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.display-3 {
  font-size: 4rem;
}

.btn-outline-primary {
  color: #D10F1C;
  border-color: #D10F1C;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #D10F1C;
  border-color: #D10F1C;
}